<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gulp boilerplate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="staticfiles/css/main.css">
        <script src="staticfiles/js/vendor/modernizr-2.7.1.js"></script>
    </head>
    <body>
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <p><img src="staticfiles/img/a.png" width="64" height="64" alt=""></p>

        <script src="staticfiles/js/vendor/jquery-1.11.0.js"></script>
        <script src="staticfiles/js/vendor/holder.js"></script>
        <script src="staticfiles/js/main.js"></script>
    </body>
</html>
