html {
  font-size: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ff0000;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
